---
# The failed_when statement above should catch both soft failures (Monitor failed) and hard
#  failures (return code > 1). If a failure occurs we need to cleanup the VM that is deployed
- name: Destroying the appliance
  ignore_errors: True
  vsphere_guest:
    vcenter_hostname: "{{ oob_vcenter_deploy_target_url }}"
    username: "{{ oob_vcenter_deploy_target_user_name }}"
    password: "{{ oob_vcenter_deploy_target_user_password }}"
    guest: "{{ oob_vcenter_appliance_name }}"
    state: absent
    force: yes
  tags:
    - cleanup_oob_vcsa
